.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    box-shadow: none;
}

.account-chart {
    margin-top: 2rem;
}

.change-btn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-block: 1rem;
}

.change-btn button {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 5px;
}

.transactionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    color: green;
}

.remove {
    color: red;
}