.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 65px);
}

.svg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 50%;
}

.login-form h1 {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 80%;
    margin: 0 auto;
}

.input-filed {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    transition: 0.2s ease-in-out;
}

input {
    padding: 0.2rem 0.6rem;
}

input[type=submit] {
    /* width: 90%; */
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.focus-input {
    color: var(--light-text-color);
    font-weight: 500;
}

input:focus {
    border: 1px solid var(--light-text-color);
}

.navigate-links {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .login {
        flex-direction: column;
    }

    .svg {
        width: 100%;
    }

    .login-form {
        width: 100%;
    }
}