.selection {
    display: flex;
    gap: 2rem;
    margin-block: 1.4rem;
    padding-left: 1rem;
}

.selection span {
    cursor: pointer;
}

.active {
    padding: 0.2rem 1rem;
    border-bottom: 3px solid var(--primary-color);
}

.deActive {
    padding: 0.2rem 1rem;
    color: #707070;
}

.sell,
.purchase {
    overflow: hidden;
}

#html5qr-code-full-region__scan_region img {
    width: 100px;
    height: 100px;
}

#html5qr-code-full-region {
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.html5-qrcode-element {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}