@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

.logo h1 a {
    color: var(--primary-color);
    letter-spacing: 2px;
    font-weight: 900;
    font-family: 'Bruno Ace', cursive;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: #000000;
    margin-right: 1rem;
}

li {
    list-style: none;
}

.navbar-link a {
    transition: 0.2s ease-in-out;
}

.navbar-link a:hover {
    color: var(--light-text-color);
}

.active-link {
    color: var(--light-text-color);
}